html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
}

.heading {
  padding: 10px;
}

.search-bar {
  padding: 12px;
  border: none;
  outline: none;
}

.card {
  margin-bottom: 10px;
  transition: transform 0.25s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
