.heading {
  padding: 10px;
}

.search-bar {
  padding: 10px;
}

.card {
  transition: transform 3s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
